
.firstSection{
    border: 15px solid rgb(231, 231, 231);
    width: 950  px;
    /* margin-left: auto; */
    /* margin-right: auto; */
}
.container{
    display:inline-flex;
    flex-direction: row;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex-wrap: wrap;
}

.child1{
    display: flex;
    flex-direction: row;
    margin-right: 25px;
}

.child2{
    display: inline-flex;
    flex-direction: column;
    font-size:x-small;
}

.child21{
    display: inline-flex;
    justify-content: space-between;

}

.bottomSection{
    background-color: #dedede;
    padding: 10px;
}

.setproxybid > * {
    margin: 0.2em
}

.child22{
    display: inline-flex;

}
.setproxybid{
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    /* margin: 0.2em; */
}
.margin{
    margin-right: 25px;
    display: flex;
    flex-direction: column;
}

.bluebox{
    color: white;
    background-color: blue;
    /* margin: 3px 30px; */
    margin-top: 1em;
    border-radius: 2px;
}

.child23{
    text-align:center;
    line-height: 25px;
    display: flex;
    flex-direction: column;
}



.child3{
    display: inline-flex;
    align-items: flex-end;
    align-items: center;

    line-height: 30px;
}

.secondSection{
    display:flex;
    background-color: white;
    flex-direction: column;
    margin-top: 10px;
    /* border: 1px solid rgb(218, 218, 218); */
    /* border-radius: 10px; */
    /* border-top-right-radius: 10px; */
    /* border-top-left-radius: 10px; */
}

.Overview{
    background-color: blue;
    padding-left: 15px;
    border-top-right-radius: 10px;
    color: white;
    border-top-left-radius: 10px;
}

.details{
    display:inline-flex;
    padding: 15px;
    line-height: 20px;
    flex-wrap: wrap;
}

.column1{
    color: blue;
    margin-right: 20px;
}

.column2{
    margin-right: 40px;
}